body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ff6600; /* Oranye */
  color: white;
  text-align: center;
}

h1 {
  padding-top: 20px;
  font-size: 36px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 70%;
}

th {
  padding: 15px;
  font-size: 28px;
  text-align: center;
}

td {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  background-color: #ff6600;
}

tfoot {
  font-size: 12px;
}

tfoot td {
  padding-top: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}
